.categories {
  display: flex;
  justify-content: space-between;
  margin: 2px 0 30px 0;
}
.mobile_filter button {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}
.mobile_filter button svg {
  width: 15px;
}
.mobile_filter .dropdown-toggle::after {
  display: none;
}
.mobile_filter .dropdown {
  width: 100%;
  text-align: center;
}
.mobile_filter {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  margin: 7px 0 10px 0;
  background: #fff;
}
.filter_sec {
  background: #fff;
  padding: 10px 20px 20px 20px;
  width: 225px;
}
.filter_sec .filter_item {
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}
.filter_item .filter_title {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}
.filers_i {
  margin-bottom: 7px;
  font-size: 15px;
}
.filter_sec .filter_item {
  margin-bottom: 20px;
}

/*=========== categories ============== */
.categories_item {
  /* width: calc(100% - 238px); */
  background: #fff;
}
.ct_body {
  display: flex;
  justify-content: space-between;
}
.ct_items a {
  color: #333;
  text-decoration: none;
}
.ct_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #f0f0f0;
  margin: 15px;
  width: 210px;
}
.ct_body .ct_img img {
  /* max-width: 250px; */
  height: auto;
  max-height: 170px;
}
.ct_items .product_content .p_name {
  font-size: 18px;
  font-weight: 500;
}
.product_content_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 23px 0 0 0;
  width: 100%;
}
.ct_items .price_sec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ct_items .fixed_price {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.categories_item svg {
  font-size: 16px;
  width: 7px;
  margin-right: 2px;
}
.fixed_price svg {
  width: 11px;
}
.price_sec .price {
  text-decoration: line-through;
  margin-left: 9px;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.price_sec .percent_off_price {
  color: #388e3c;
  font-size: 13px;
  margin-left: 9px;
}
